.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.page{
    height: 100vh;
    width: 50vw;
    padding: 0rem 0rem;
}

.logo img{
    height: 7rem;
    border-radius: 80%;
}

.img img{
    height: 100vh;
    width: 45vw;
}

.desc{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 4rem;
    
}

.desc h1{
    color: rgb(172, 85, 35);
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 14rem;
}
.form input{
    background-color: #f6a7a6 !important;
    border: 0;
    border-bottom: 2px solid #353434;
    width: 18rem;
    color: #070606;
    height: 3rem;
    font-size: 15px;
    border-radius: 5px;
    padding: 1rem;
}
::placeholder{
    color:black
}
.form input:focus{
    outline: none;
}
.btn{
    background-color: rgb(214, 69, 124);
    width: 18rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
    color: rgb(247, 246, 235);
    cursor: pointer;
    margin-top: 22px;
}
.btn h5{
    font-weight: 600;
    margin-bottom: 0;
}
.btn:hover{
    background-color:  #97703ddf;
    color: white;
}