.signup{
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
}

.page{
    height: 100vh;
    width: 50vw;
   position: left;
}

.logo img{
    height: 9rem;
    position:left;
    top: 0px;
    left: 5px;
    border-radius: 50%;
}
.logo {
    cursor: pointer;
}

.img{
    position: relative;
    top: 10px;
    right:0px;
    left:40px
}

.img{
    height: 600px;
    width: 600px   
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:8rem ;
    left:100px
}

.desc h1{
    color: rgb(192, 90, 31);
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 20vw;
}
.form input{
    background-color: #f6a7a6 ;
    border: 0;
    border-bottom: 2px solid #353434;
    width: 18rem;
    color: #848282;
    height: 3rem;
    font-size: 15px;
    border-radius: 5px;
    left:90px;
    padding:15px    
}
::placeholder{
    color:black
}
.form input:focus{
    outline: none;
}
.btn{
    background-color: rgb(48, 11, 28);
    width: 18rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 22px;
}
.btn h5{
    font-weight: 600;
    margin-bottom: 0;
}
.btn:hover{
    background-color:  #da0a48df;
    color: white;
}

.overimg{
    position: absolute;
    top: 0;
    height: 100vh;
}
.text{
    position: left;
    top:0px;
    width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.insidetext{
    position: absolute;
    bottom: 150px;
    display: flex;
    align-items:start;
    justify-content:center;
    flex-direction: column;
}
.insidetext h4{
    margin-top: 15px;
}