.container{
    padding: 45px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 45px;
    column-gap: 10px;
    justify-items: center;
}

.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 50vh;
}